extends ../layouts/default.pug
include ../mixins/box-breadcrumd.pug
block main
  -
    var breadcumb = {
      image :"/assets/images/banner-6.jpg",
      title : "tour nuoc ngoai",
      list :[
        {
          link :"/",
          title:"trang chu"
        },
        {
          link:"/",
          title:"Tour nuoc ngoai"

        }
      ]
    };
  +box-breadcrumb(breadcumb)